---
layout: archive
title: "Analysis"
permalink: /analysis/
author_profile: true
---

{% include base_path %}

{% for post in site.analysis reversed %}
  {% include archive-single.html %}
{% endfor %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline"> 
      <a href="https://luke-fitz.github.io/files/Tennis Important Points.pdf" rel="permalink">
	      Important Points in Tennis
	  </a>
	</h2>
	<p class="archive__item-excerpt" itemprop="description">
	  <p>
	    All points are equal, but some are more equal than others.
	  </p>
	</p>
  </article>
</div>

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline"> 
      <a href="https://luke-fitz.github.io/files/Tennis Optimal Service.pdf" rel="permalink">
	      Optimal Service Strategy in Tennis
	  </a>
	</h2>
	<p class="archive__item-excerpt" itemprop="description">
	  <p>
	    Should you ever hit a strong serve on your second serve, or a weak serve on your first?
	  </p>
	</p>
  </article>
</div>

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline"> 
      <a href="https://luke-fitz.github.io/files/Tennis Set Dominance.pdf" rel="permalink">
	      Dominance Factors in Tennis Tournaments
	  </a>
	</h2>
	<p class="archive__item-excerpt" itemprop="description">
	  <p>
	    An incomplete analysis of the one-sidedness of tennis tournaments.
	  </p>
	</p>
  </article>
</div>
